//*-------------------------------------------- header ------------------------------------------*/
#header {
	@extend %pageWidth;

	position: relative;
	z-index: 2;

	height: 130px;
	padding-top: 26px;
}
#containerHeader {
	height: 130px;
}
#menu {
	@extend %pageWidth;
}

.hPhone{
	text-align: right;
}
//*-------------------------------------------- footer ------------------------------------------*/
#footer {@extend %pageWidth;

	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;

	height: $fHeight;
}
#containerFooter {
}

// -------------------------------------------- main 
#pageHTML {@extend %pageWidth;

	position: relative;

	height: 100%;
	height: auto!important;
	min-height: 100%;
}
main {

	position: relative;
	z-index: 1;
}


#containerMain {
	@extend %pageWidth;
	padding-bottom: $fHeight + 30px;
}